{% extends "baseReply.html" %}

{% block title %} {% endblock %}

{% block replybody %}

<h1>Please enter your name:</h1>

{% if error_message %}
	<p class="storyText"><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="/reply/" method="post">
	{% csrf_token %}
	<p class="storyText"><input id="replyTextInput" type="text" name="name"></p>
	{% if error_message %}
		<p class="storyText">If you received an invitation and you're still having trouble, please <a href="mailto:w@rkas.net">RSVP via email</a></p>
	{% endif %}
	<input id="submit" type="submit" value="RSVP">
</form>

{% endblock %}