{% extends "baseReply.html" %}

{% block replybody %}

<script type="text/javascript">
	$(document).ready(function() {
		
		{% if not reply.replyDate %}
			$("#submit").attr('disabled', 'true');
		{% endif %}
		
		$('input').iCheck({
		  labelHover: false,
		  cursor: true,		
		  checkboxClass: 'icheckbox_square-red',
		  radioClass: 'iradio_square-red',
		});
		
		$("#willAttendYes").on('ifChecked', function(event) {			
			$('input[checkedattendee="true"]').each(function(index) {
				$(this).iCheck('check');
			})
			$("#extrasField").slideDown(400);
			$("#submit").removeAttr('disabled');
			$("#willAttendNo").iCheck('uncheck');
			
			{% if person.mustAttend %}
				$("#mustAttend").slideUp(100);
			{% endif %}
		});
		$("#willAttendNo").on('ifChecked', function(event) {
			$('input[name^="attendee"]').each(function(index) {
				$(this).iCheck('uncheck');
			})
			$("#extrasField").slideUp(400);
			$("#submit").removeAttr('disabled');
			$("#willAttendYes").iCheck('uncheck');
			
			{% if person.mustAttend %}
				$("#mustAttend").slideDown(400);
			{% endif %}
		});
		$('input[name^="attendee"]').each(function(index) {
			$(this).on('ifChecked', function(event) {
				$("#willAttendYes").iCheck('check');
				$("#extrasField").slideDown(400);
			});
			$(this).on('ifUnchecked', function(event) {
				allUnchecked = true;
				$('input[name^="attendee"]').each(function(index) {
					if ($(this).prop('checked') == true) {
						allUnchecked = false;
					}
				});
				if (allUnchecked) {
					$("#willAttendNo").iCheck('check');
					$("#willAttendYes").iCheck('uncheck');
					$("#extrasField").slideUp(400);
				} else {
					$("#willAttendNo").iCheck('uncheck');
					$("#willAttendYes").iCheck('check');
					$("#extrasField").slideDown(400);
				}
			});
		});
	});
</script>

<h1>{{ greeting|random }}, {% if person.nickName %} {{ person.nickName }} {% else %} {{person}} {% endif %}</h1>

{% if person.imageURL %}
<div class="sticky" id="secretImage">
	<img src="{{person.imageURL}}" width="100%"/>
</div>
{% endif %}

<form action="/reply/update/" method="post">
	{% csrf_token %}
	<fieldset class="replyField" id="willAttendField">
	<legend class="storyText">Can you make it to the wedding?</legend>
		<div class="replyList">
			<ul>
				<li>
					<input id="willAttendYes" type="radio" name="willAttend" value="yes" {% if reply.attending and reply.replyDate %} checked {% endif %}>
					<label for="willAttendYes">Count 
					{% if reply.invitedPeople.all|length == 1 %}
						me
					{% else %}
					  us
					{% endif %} in!
					</label>
				</li>
				<li>
					<input id="willAttendNo" type="radio" name="willAttend" value="no" {% if not reply.attending and reply.replyDate %} checked {% endif %}>
					<label for="willAttendNo">No :(</label>
				</li>
			</ul>
		</div>
	</fieldset>
	<br>
	
	{% if person.mustAttend %}
		<font id="mustAttend" style="display:none; font-size:24px; color:white; font-weight:bold">Seriously?? I don't think you get to choose that option.</font>
	{% endif %}
	
	<fieldset class="replyField" id="guestsField" {% if not reply.attending and reply.replyDate %} style="display:none" {% endif %}>
		<legend class="storyText">Who will be attending?</legend>
		<div id="attendeeList" class="replyList">
			<ul>
				{% for person in reply.invitedPeople.all %}
					{% if not person.isPlusOne %}
						<li>
							<input id="attendee{{person.pk}}" type="checkbox" name="attendee" value="{{ person.pk }}" 
							{% if person in reply.attendingPeople.all %} 
								checkedattendee="true" 
								{% if reply.replyDate %} checked {% endif %} 
							{% endif %}>
							<label for="attendee{{person.pk}}">{{ person }}</label>
						</li>
					{% endif %}
				{% endfor %}
				{% if reply.hasPlusOne %}
					<li>
						<input id="attendeePlusOne" type="checkbox" name="attendeePlusOne" value="plusOneAttending" 
						{% if reply.plusOneAttending %} 
							checkedattendee="true"
							 {% if reply.replyDate %} checked {% endif %}
						{% endif %}>
						<label for="attendeePlusOne" id="attendeeInputGuestLabel">
							{% if plusOnePerson %} 
								<input id="attendeeInputGuest" type="text" name="plusOneName" value="{{ plusOnePerson }}" size=14>
							{% else %}
								{% if person.firstName|lower == "jordan" %}
									<input id="attendeeInputGuest" type="text" name="plusOneName" value="Brynden" size=14>
								{% else %}
									<input id="attendeeInputGuest" type="text" name="plusOneName" value="Guest" size=14>
								{% endif %}
							{% endif %}
						</label>
					</li>
				{% endif %}
			</ul>
		</div>
	</fieldset>
	<br>
	
	<fieldset class="replyField" id="extrasField" {% if not reply.replyDate or not reply.attending %} style="display: none" {% endif %}>
		<legend class="storyText">Additional Info</legend>
		<p class="storyText">We might need to send some wedding updates over email. Where can we send them? (We promise not to spam you)<br><input type="text" name="email" value="{{ reply.email }}" placeholder="Email Address"><br><font size="1">You can enter multiple email addresses separated by a comma</font></p>
		<p class="storyText">Any comments?<br><input id="commentField" type="text" name="comment" value="{{ reply.comment }}" style="width:100%;"></p>
	</fieldset>
	<input type="hidden" name="reply_id" value="{{ reply.pk }}">
	<br>
	<input id="submit" type="submit" value="RSVP"}>
</form>

{% endblock %}